Unity Project/.vs/
Unity Project/Assets/TextMeshPro*.prefab*
Unity Project/Assets/KSP Assembly/*.dll
Unity Project/Assets/PartTools/
Unity Project/Assets/Plugins/KSPAssets/*.dll
Unity Project/Assets/SquadCore/
Unity Project/Assets/TextMesh Pro/
Unity Project/Assets/XML/squadcore_bundle.xml
Unity Project/Assets/XML/squadcore_bundle.xml.meta
Unity Project/Library/
Unity Project/Logs/Packages-Update.log
Unity Project/obj/
Unity Project/Packages/
Unity Project/Temp/
Unity Project/Assets/Plugins/Microsoft.Bcl.HashCode.dll
Unity Project/Assets/Plugins/Microsoft.Bcl.HashCode.dll.meta
Unity Project/Assets/Plugins/Microsoft.Bcl.HashCode.xml
Unity Project/Assets/Plugins/Microsoft.Bcl.HashCode.xml.meta
Unity Project/Assets/Plugins/System.Buffers.dll
Unity Project/Assets/Plugins/System.Buffers.dll.meta
Unity Project/Assets/Plugins/System.Buffers.xml
Unity Project/Assets/Plugins/System.Buffers.xml.meta
Unity Project/Assets/Plugins/System.Memory.dll
Unity Project/Assets/Plugins/System.Memory.dll.meta
Unity Project/Assets/Plugins/System.Memory.xml
Unity Project/Assets/Plugins/System.Memory.xml.meta
Unity Project/Assets/Plugins/System.Runtime.CompilerServices.Unsafe.dll
Unity Project/Assets/Plugins/System.Runtime.CompilerServices.Unsafe.dll.meta
Unity Project/Assets/Plugins/System.Runtime.CompilerServices.Unsafe.xml
Unity Project/Assets/Plugins/System.Runtime.CompilerServices.Unsafe.xml.meta
Unity Project/TestOutput/
Builds/*.zip
