Localization
{
	en-us
	{
		#autoLOC_KWT000 = °
		#autoLOC_KWT001 = m
		#autoLOC_KWT002 = s
		#autoLOC_KWT003 = %
		#autoLOC_KWT004 = kN
		#autoLOC_KWT005 = m/s
		#autoLOC_KWT006 = g
		#autoLOC_KWT007 = /°
		#autoLOC_KWT008 = kN/°
		#autoLOC_KWT009 = kNm/°
		#autoLOC_KWT010 = kNm
		#autoLOC_KWT011 = kg/100 km
		#autoLOC_KWT012 = kg/s
		#autoLOC_KWT013 = units
		#autoLOC_KWT014 = % MAC
		#autoLOC_KWT015 = -

		#autoLOC_KWT100 = Lift and Drag as coefficients
		#autoLOC_KWT101 = Speed as Mach
		#autoLOC_KWT102 = Use faster vessel characterization
		#autoLOC_KWT103 = Start minimized
		#autoLOC_KWT104 = Use simple part highlighting
		#autoLOC_KWT105 = Show flight envelope outline on graphs
		#autoLOC_KWT106 = Show flight envelope outline even on flight envelope
		#autoLOC_KWT107 = Propeller rotation evaluations: <<1>>
		#autoLOC_KWT108 = Use Blizzy's Toolbar
		#autoLOC_KWT109 = Kerbal Wind Tunnel Settings
		#autoLOC_KWT110 = Settings
		#autoLOC_KWT111 = Flight Envelope
		#autoLOC_KWT112 = AoA Curves
		#autoLOC_KWT113 = Velocity Curves
		#autoLOC_KWT114 = Export Data
		#autoLOC_KWT115 = Highlight Mode:
		#autoLOC_KWT116 = Kerbal Wind Tunnel
		#autoLOC_KWT117 = Update Vessel
		#autoLOC_KWT118 = 
		#autoLOC_KWT119 = Enter value...
		#autoLOC_KWT120 = Ascent Path\nTarget Altitude:
		#autoLOC_KWT121 = Target\nSpeed:
		#autoLOC_KWT122 = Select on Graph
		#autoLOC_KWT123 = Altitude:
		#autoLOC_KWT124 = Speed:
		#autoLOC_KWT125 = AoA:
		#autoLOC_KWT126 = Off
		#autoLOC_KWT127 = Drag
		#autoLOC_KWT128 = Lift
		#autoLOC_KWT129 = Drag/Mass
		#autoLOC_KWT130 = Drag/Lift
		#autoLOC_KWT131 = Wet
		#autoLOC_KWT132 = Dry

		#autoLOC_KWT200 = Save As: 
		#autoLOC_KWT201 = Format: 
		#autoLOC_KWT202 = Spreadsheet
		#autoLOC_KWT203 = CSV
		#autoLOC_KWT204 = Visible graph(s)
		#autoLOC_KWT205 = All graphs
		#autoLOC_KWT206 = Vessel
		#autoLOC_KWT207 = Export
		#autoLOC_KWT208 = The specified file already exists. Would you like to replace it?
		#autoLOC_KWT209 = No wings found, using a reference area of 1.
		#autoLOC_KWT210 = Landing gear deployed, results may not be accurate.

		#autoLOC_KWT300 = Mach
		#autoLOC_KWT301 = Mach Number
		#autoLOC_KWT302 = Angle of Attack
		#autoLOC_KWT303 = Angle
		#autoLOC_KWT304 = Time
		#autoLOC_KWT305 = Coef
		#autoLOC_KWT306 = AoA
		#autoLOC_KWT307 = Coefficient
		#autoLOC_KWT308 = Lift
		#autoLOC_KWT309 = Max Lift
		#autoLOC_KWT310 = Lift Coefficient
		#autoLOC_KWT311 = Drag
		#autoLOC_KWT312 = Drag Coefficient
		#autoLOC_KWT313 = Lift/Drag Ratio
		#autoLOC_KWT314 = Lift Slope
		#autoLOC_KWT315 = Pitch Input
		#autoLOC_KWT316 = Pitch Input (Wet)
		#autoLOC_KWT317 = Pitch Input (Dry)
		#autoLOC_KWT318 = Torque
		#autoLOC_KWT319 = Torque (Wet)
		#autoLOC_KWT320 = Torque (Dry)
		#autoLOC_KWT321 = Force
		#autoLOC_KWT322 = Altitude
		#autoLOC_KWT323 = Speed
		#autoLOC_KWT324 = Airspeed
		#autoLOC_KWT325 = Wing Area
		#autoLOC_KWT326 = Level Flight AoA
		#autoLOC_KWT327 = Max Lift AoA
		#autoLOC_KWT328 = Max Lift Force
		#autoLOC_KWT329 = Excess Thrust
		#autoLOC_KWT330 = Excess Acceleration
		#autoLOC_KWT331 = Available Thrust
		#autoLOC_KWT332 = Thrust Available
		#autoLOC_KWT333 = Thrust Required
		#autoLOC_KWT334 = Sea Level Mach
		#autoLOC_KWT335 = Specific Excess Power
		#autoLOC_KWT336 = Static Margin
		#autoLOC_KWT337 = Static Margin (Wet)
		#autoLOC_KWT338 = Static Margin (Dry)
		#autoLOC_KWT339 = Stability Derivative
		#autoLOC_KWT340 = Fuel Economy
		#autoLOC_KWT341 = Fuel Burn Rate
		#autoLOC_KWT342 = Flight Envelope
		#autoLOC_KWT343 = Max Climb Angle
		#autoLOC_KWT344 = Climb Angle
		#autoLOC_KWT345 = Climb Rate
		#autoLOC_KWT346 = Fuel Used
		#autoLOC_KWT347 = Fuel-Optimal Path
		#autoLOC_KWT348 = Time-Optimal Path
    }
	zh-cn
	{
		#autoLOC_KWT000 = °
		#autoLOC_KWT001 = m
		#autoLOC_KWT002 = s
		#autoLOC_KWT003 = %
		#autoLOC_KWT004 = kN
		#autoLOC_KWT005 = m/s
		#autoLOC_KWT006 = g
		#autoLOC_KWT007 = /°
		#autoLOC_KWT008 = kN/°
		#autoLOC_KWT009 = kNm/°
		#autoLOC_KWT010 = kNm
		#autoLOC_KWT011 = kg/100 km
		#autoLOC_KWT012 = kg/s
		#autoLOC_KWT013 = units
		#autoLOC_KWT014 = % MAC
		#autoLOC_KWT015 = -

		#autoLOC_KWT100 = 升力系数与阻力系数
		#autoLOC_KWT101 = 速度单位：马赫
		#autoLOC_KWT102 = 使用更快的飞行器分析
		#autoLOC_KWT103 = 启动时最小化
		#autoLOC_KWT104 = 使用简易部件高亮
		#autoLOC_KWT105 = 在图表上显示飞行包线轮廓
		#autoLOC_KWT106 = 在飞行包线图上仍显示轮廓
		#autoLOC_KWT107 = 螺旋桨旋转评估：<<1>>
		#autoLOC_KWT108 = 使用 Blizzy 工具栏
		#autoLOC_KWT109 = 坎巴拉风洞设置
		#autoLOC_KWT110 = 设置
		#autoLOC_KWT111 = 飞行包线
		#autoLOC_KWT112 = 攻角曲线
		#autoLOC_KWT113 = 速度曲线
		#autoLOC_KWT114 = 导出数据
		#autoLOC_KWT115 = 高亮模式：
		#autoLOC_KWT116 = 坎巴拉风洞
		#autoLOC_KWT117 = 更新飞行器
		#autoLOC_KWT118 = 
		#autoLOC_KWT119 = 输入数值...
		#autoLOC_KWT120 = 爬升路径\n目标高度：
		#autoLOC_KWT121 = 目标\n速度：
		#autoLOC_KWT122 = 在图表上选择
		#autoLOC_KWT123 = 高度：
		#autoLOC_KWT124 = 速度：
		#autoLOC_KWT125 = 攻角：
		#autoLOC_KWT126 = 关闭
		#autoLOC_KWT127 = 阻力
		#autoLOC_KWT128 = 升力
		#autoLOC_KWT129 = 阻力/质量
		#autoLOC_KWT130 = 阻力/升力
		#autoLOC_KWT131 = 满载
		#autoLOC_KWT132 = 空载

		#autoLOC_KWT200 = 另存为： 
		#autoLOC_KWT201 = 格式： 
		#autoLOC_KWT202 = 电子表格
		#autoLOC_KWT203 = CSV
		#autoLOC_KWT204 = 可见图表
		#autoLOC_KWT205 = 所有图表
		#autoLOC_KWT206 = 飞行器
		#autoLOC_KWT207 = 导出
		#autoLOC_KWT208 = 指定文件已存在。是否要替换？
		#autoLOC_KWT209 = 未检测到机翼，使用参考面积 1。
		#autoLOC_KWT210 = 起落架已展开，结果可能不准确。

		#autoLOC_KWT300 = 马赫
		#autoLOC_KWT301 = 马赫数
		#autoLOC_KWT302 = 攻角
		#autoLOC_KWT303 = 角度
		#autoLOC_KWT304 = 时间
		#autoLOC_KWT305 = 系数
		#autoLOC_KWT306 = 攻角
		#autoLOC_KWT307 = 系数
		#autoLOC_KWT308 = 升力
		#autoLOC_KWT309 = 最大升力
		#autoLOC_KWT310 = 升力系数
		#autoLOC_KWT311 = 阻力
		#autoLOC_KWT312 = 阻力系数
		#autoLOC_KWT313 = 升阻比
		#autoLOC_KWT314 = 升力斜率
		#autoLOC_KWT315 = 俯仰输入
		#autoLOC_KWT316 = 俯仰输入（满载）
		#autoLOC_KWT317 = 俯仰输入（空载）
		#autoLOC_KWT318 = 扭矩
		#autoLOC_KWT319 = 扭矩（满载）
		#autoLOC_KWT320 = 扭矩（空载）
		#autoLOC_KWT321 = 作用力
		#autoLOC_KWT322 = 高度
		#autoLOC_KWT323 = 速度
		#autoLOC_KWT324 = 空速
		#autoLOC_KWT325 = 机翼面积
		#autoLOC_KWT326 = 平飞攻角
		#autoLOC_KWT327 = 最大升力攻角
		#autoLOC_KWT328 = 最大升力
		#autoLOC_KWT329 = 剩余推力
		#autoLOC_KWT330 = 剩余加速度
		#autoLOC_KWT331 = 可用推力
		#autoLOC_KWT332 = 可用推力
		#autoLOC_KWT333 = 需用推力
		#autoLOC_KWT334 = 海平面马赫数
		#autoLOC_KWT335 = 单位剩余功率
		#autoLOC_KWT336 = 静稳定度
		#autoLOC_KWT337 = 静稳定度（满载）
		#autoLOC_KWT338 = 静稳定度（空载）
		#autoLOC_KWT339 = 稳定性导数
		#autoLOC_KWT340 = 燃油经济性
		#autoLOC_KWT341 = 燃油消耗率
		#autoLOC_KWT342 = 飞行包线
		#autoLOC_KWT343 = 最大爬升角
		#autoLOC_KWT344 = 爬升角
		#autoLOC_KWT345 = 爬升率
		#autoLOC_KWT346 = 已用燃料
		#autoLOC_KWT347 = 燃油最优路径
		#autoLOC_KWT348 = 时间最优路径
	}
}